<p>admin-list works!</p>
<div class="container">
    <div class="header">
      <div class="row">
        
      <div class="col-sm-4">
        <a [routerLink]="['/employees/add']" role="button"
    class="btn btn-outline-dark" ><span><i class="fa fa-user plus fa-lg" class="custom-margin custom-margin-add"></i></span>Add Customer</a>
    &nbsp;
   
    </div>
    </div>
  </div>
    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th >Loan ID</th>
            <th>loanOfficer_Id</th>
            <th >customer_id</th>
            <th>loanAmount</th>
            <th>verification</th>
            <th>status</th>
            <th>Action</th>

          </tr>
        </thead>
        <tbody>
          
            <tr *ngFor="let loanRequest of adminService.loanRequests ">
            <td>{{loanRequest.loanId}}</td>
            <td>{{loanRequest.loanOfficer_Id}}</td>
            <td>{{loanRequest.customer_id}}</td>
            <td>{{loanRequest.loanAmount}}</td>
            <td>{{loanRequest.verification}}</td>
            <td>{{loanRequest.status}}</td>
            <td><button type="button" class="btn btn-sm btn-outline-info"
              (click)="updateLoanRequest(loanRequest)"><i class="fa fa-edit"></i></button>
               &nbsp; <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteEmployee(employee.id)"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
         
        </tbody>
      </table>



</div>

